<div class="container">
    <div class="row mt-4 g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h1>Admin login</h1>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <input type="text" name="userName" [(ngModel)]="userName" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <input type="text" name="password" [(ngModel)]="password" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <button class="btn btn-info" (click)="login()">Login</button>
        </div>


    </div>
</div>
